
/* Font Definitions*/
@font-face {
	font-family: 'Bahnschrift Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Bahnschrift Regular'), url('Fonts/BAHNSCHRIFT.woff') format('woff');
}


body {
	
	text-align:center;
	
	color: #FFFFFF;
	background-color: #362e2e;
	
	font-family: Bahnschrift Regular;
	font-size:25px;
	
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	text-transform: uppercase;
	
}

input {
	
	margin: 10px 0;
	
	font-family: Bahnschrift Regular;
	font-size:25px;
	text-align:center;
	
	color: #FFFFFF;
	
	background: #261e1e;
	border-color: #160e0e;
	
}

input [type="text"] {
	
	
	text-align:center;
	font-family: Bahnschrift Regular;
	font-size:25px;
	
	background: #261e1e;
	border-color: #160e0e;
	
}

input[type="text"], textarea {

  background-color : #261e1e; 

}

h1 {
	
	font-size:100px;
	
}

A {
	
	text-transform: uppercase;
	
}

a:link {
  color: #DDDDDD;
  
}

/* visited link */
a:visited {
  color: #AAAAAA;
}

/* mouse over link */
a:hover {
  color: #FFFFFF;
}

/* selected link */
a:active {
  color: #AAAAAA;
}