<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>AnarQ - Connected to Host!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="./style.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="./AnarQIcon.png"/>
</head>
<body>
	
	<h1 th:text="${title}"></h1>
	
	<!-- Left Column -->
	
	<div class="column">
		<div class="component">
			<h1>Host</h1>	
			<p th:text="'Your connection code is ' + ${loginInfo.ip}" />
			<a href="/login">Finish Session</a>
		</div>
		
		<h2>Connected Jammers</h2>	
		<div class="connectedUser" th:each="connectedUser : *{connectedUsers}">
				<img src="./unknown.png" width="128px" height="128px" align="left"/>
				<h2 th:text="${connectedUser.userid}"></h2>
				<h3 th:text="${connectedUser.ip}"></h3>
				<input type="button" value="Kick" /> <input type="button" value="Mute" />
			</div>
		
	</div>
	
	<!-- Right Column -->
	
	<div class="column">
		<div class="component">
			<h2>Current Playlist</h2>
			<div class="songRequest" th:each="request : *{songRequests}">
				<img src="./unknown.png" width="128px" height="128px" align="left"/>
				<h2 th:text="${entry.songName}"></h2>
				<h3 th:text="${entry.bandName}"></h3>
				<h3 th:text="${entry.userid}"></h3>
				<input type="button" value="Remove" />
			</div>
		</div>
	</div>
	
	
</body>
</html>