<!DOCTYPE HTML>
<html>
    <head>
        <title>Disable Account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div class="header">    
            <video id="video" width="200%" playsinline autoplay muted>
                <source src="media/anim.mp4" type="video/mp4" />
            </video> 
        </div>
        <div class="content">
            <h1>Disable Account</h1>
            <p>A user with the specified username could not be found!</p>
            <a href="/disableAccount">Make another update</a>
        </div>
    </body>
</html>