<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Connected to an AnarQ Session</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h2>Welcome to $LOBBY_NAME!</h2>
		<h3>Connected with ID</h3>
		<h2 id="session-header">Connected to Session $SESSIONID</h2>
		<button id="request-song" type="button" onclick="location.href = '/search.html'">Request a Song</button>
		<button id="quit-session" type="button">Leave Session</button>
	</header>
	<div class="column">
	<p>Song Request Queue</p>
	<div id="current-requests"></div>
	</div>
	<div class="column">
	<p>Currently Playing</p>
	</div>
	<script type="text/javascript" src="js/currentsession.js"></script>
	<script type="text/javascript" src="js/authentication.js"></script>
	<script type="text/javascript" src="js/clientsession.js"></script>
	<script type="text/javascript" src="js/updateuserinfo.js"></script>
</body>
</html>