<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign In or Sign Up</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="centered-in-frame">
			
			<image src="images/AnarQLogo.png" width="100%"></image>
			<br>
			<h1>Log Into an AnarQ Account</h1>
			<div class="error" id="error-message"></div>
			<p>Username: </p>
			<input id="username" type="text" size="25"></input>
			<br>
			<p>Password:</p>
			<input id="password" type="password" size="25"></input>
			<br>
			<button id="signin" type="button">Sign In</button>
			<br>
			<p>Don't have an account?</p>
			<button id="create-new-account" type="button" onclick="location.href = '/signup.html'">Create New Account</button>
			<br>
			<br>
			<br>
			<button id="back" type="button" onclick="location.href = '/connect.html'">Return to Connect Page</button>
		</div>
	</header>
	
	<script type="text/javascript" src="js/currentsession.js"></script>
	<script type="text/javascript" src="js/accountinfo.js"></script>
	<script type="text/javascript" src="js/signin.js"></script>
</body>
</html>