<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Update Bio</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<h1>Update Bio</h1>
		<form action="#" th:action="@{/updateBio}" th:object="${userInformation}" method="post">
			<p>Username: <input type="text" th:field="*{username}"/></p>
			<p>Password: <input type="password" th:field="*{password}"/></p>
			<p>Bio:<br><textarea placeholder="Lorem ipsum..." th:field="*{newValue}"></textarea></p>
			<p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
		</form>
	</body>
</html>