<!DOCTYPE HTML>
<html>
    <head>
        <title>Update Bio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
		<div class="header">	
			<video id="video" width="200%" playsinline autoplay muted>
				<source src="media/anim.mp4" type="video/mp4" />
			</video> 
		</div>
		<div class="content">
			<h1>Update Bio</h1>
			<p>Your bio was not able to be updated. Please contact support!</p>
			<a href="/updateBio">Make another update</a>
		</div>
    </body>
</html>