<!DOCTYPE HTML>
<html>
    <head>
        <title>Update Profile Picture</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
		<div class="header">	
			<video id="video" width="200%" playsinline autoplay muted>
				<source src="media/anim.mp4" type="video/mp4" />
			</video> 
		</div>
		<div class="content">
        <h1>Update Profile Picture</h1>
        <p>The uploaded file exceeded the 1MB size limit. Please upload a smaller file!</p>
        <a href="/updateProfilePicture">Make another update</a>
		</div>
    </body>
</html>