<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Update Username</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<h1>Update Username</h1>
		<p th:text="'User Type: ' + ${userInformation.userType}"></p>
		<p th:text="'Username: ' + ${userInformation.username}"></p>
		<p th:text="'Password: ' + ${userInformation.password}"></p>
		<p th:text="'New username: ' + ${userInformation.newValue}"></p>
		<a href="/updateUsername">Make another update</a>
	</body>
</html>
