:root {
	
	--background_transparent: rgba(25,25,25,0.5);
	--background_solid: rgba(25,25,25,1);
	
}

html {
	min-height: 100%;
	position: relative;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
	color: white;
	
	min-height: 100%;
	font-family: Arial;
	font-size: 20px;
	
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	background-color: #000000;
	box-shadow: 2px 2px 50px #000000;
	padding-bottom: 10px;
}

.header video{
	max-width:800px;
}

.content, .column, .centered-in-frame {
	background-color: var(--background_transparent);
	text-align: center;
	max-width: 60%;
	height: 100%;
	min-height: 500px;
	margin: auto;
	padding: 15px;
	box-shadow: 2px 2px 50px #000000;
}

.column {
	background-color: var(--background_transparent);
	padding: 0px;
	width: 48%;
	margin: 1%;
	float:right;
	overflow:hidden;
}

.userdata {
	background-color: var(--background_solid);
	margin:auto;
	padding:5px;
	text-align:center;
}

.division {
	text-align:center;
}

.genre {
	float: left;
	font-size: 20px;
	padding:1%;
	width: 23%;
}

.error {
	color:red;
}

.bigtext {
	font-size:70px;
}

input[type=checkbox]{
	width: 30px;
}

input, button {
	
	font-size: 30px;
	height: 40px;
	border-radius: 15px;
	margin: 5px;
	text-align: center;
	
}

