:root {
	
	--background_transparent: rgba(25,25,25,0.5);
	--background_solid: rgba(25,25,25,1);
	
}

html {
	min-height: 100%;
	position: relative;
}

video {
	width: 100%;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
	color: white;
	
	min-height: 100%;
	font-family: Arial;
	font-size: 20px;
	
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.song-div-req {
	
	max-width: 24.5%;
	min-width: 24.5%;
	max-height: 600px;
	float:left;
	padding:0;
	margin:0;
	background-color: var(--background_transparent);
	font-size: 0.555vw;
}

.song-div-req p,h2,h3{
	
	font-size: 15px;
	padding: 0;
	margin: 5%;
	border: 0;

}

.song-div-req img {
	
	width: 90%;
	height: auto;

}

.header {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	background-color: #000000;
	box-shadow: 2px 2px 50px #000000;
	padding-bottom: 10px;
}

.header p,h1,h2,h3 {
	
	margin: 0;
	
}

.header p,h2,h3 {
	
	font-size: 30px;
	margin: 0;
	
}

.header video{
	max-width:800px;
}

.content, .column, .centered-in-frame {
	background-color: var(--background_transparent);
	text-align: center;
	max-width: 60%;
	height: 100%;
	min-height: 500px;
	margin: auto;
	padding: 15px;
	box-shadow: 2px 2px 50px #000000;
}

.alert {
	background-color: rgba(255,25,25,0.5);
	text-align: center;
	max-width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	box-shadow: 2px 2px 50px #000000;
	border-radius: 15px;
}

.column {
	background-color: var(--background_transparent);
	padding: 0px;
	width: 48%;
	margin: 1%;
	float:right;
	overflow:hidden;
}

.userdata {
	background-color: var(--background_solid);
	margin:auto;
	padding:5px;
	text-align:center;
}

.userdata button {
	
	font-size: 16px;
	height: 25px;
	border-radius: 15px;
	margin: 5px;
	text-align: center;
	
}


.division {
	text-align:center;
}

.genre {
	float: left;
	font-size: 20px;
	padding:1%;
	width: 23%;
}

.content input {

	max-width: 75%;
	
}

.content button {

	max-width: 75%;
	font-size: 100%;
	
}

.error {
	color:red;
}

.bigtext {
	font-size:70px;
}

input[type=checkbox]{
	width: 30px;
}

input, button {
	
	font-size: 30px;
	height: 40px;
	border-radius: 15px;
	margin: 5px;
	text-align: center;
	
}

